<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- OpenXR runtime is provided by Horizon OS; the loader is queried via the
         org.khronos.openxr.OpenXRRuntime provider. Declare the queries entry. -->
    <queries>
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
    </queries>

    <!-- Quest 3 features -->
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="false"
        android:version="1" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />
    <uses-feature
        android:name="com.oculus.feature.PASSTHROUGH"
        android:required="false" />

    <application
        android:name=".VrPlayerApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VrPlayer"
        tools:targetApi="33">

        <!-- Supported devices -->
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest3|quest3s|questpro" />

        <!-- 2D launcher activity: the file picker / 115 panel -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:theme="@style/Theme.VrPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 115 OAuth web view -->
        <activity
            android:name=".auth.AuthWebViewActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:theme="@style/Theme.VrPlayer" />

        <!-- Immersive (OpenXR) activity -->
        <activity
            android:name=".immersive.ImmersiveActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode|navigation|density|locale|keyboard|fontScale"
            android:resizeableActivity="false"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>
    </application>
</manifest>
